/node_modules
/src
/public
/.vscode

.env

tailwind.config.ts
tsconfig.json
tsup.config.ts
.cursorignore
.editorconfig
postcss.config.mjs
.eslintrc
.eslintignore
prettier.config.js
.prettierignore
.secretlintrc.json
