/node_modules
/src
/public
/.vscode
/src/__tests__

.env

tailwind.config.ts
tsconfig.json
tsup.config.ts
.cursorignore
.editorconfig
postcss.config.mjs
.eslintrc
.eslintignore
.prettierrc.json
.prettierignore
.secretlintrc.json
.lintstagedrc.json

LICENSE
